<template>
  <main id="dashboard">
    <div class="content-dashboard">
      

      <transition name="fade-message" mode="out-in">

        <div v-if="!isFlightSelected && !isSubmissionDone" key="journeySelection">
          <div class="welcome-message content-580">
            <p>Hello <strong>{{passenger.prefix}}. {{passenger.firstName}} {{passenger.lastName}}</strong>. Welcome to Bid 4 Meal.</p>
            <p>You have 2 upcoming flights and you can now bid for your meal.</p>
          </div>
          <FlightsSelection :flights="flights" v-on:selectFlight="selectFlight"></FlightsSelection>
        </div>

        <div v-if="isFlightSelected" key="journeyMealSelection">
          <FlightDetails :selectedFlight="selectedFlight" v-on:cancelFlightSelection="cancelFlightSelection"></FlightDetails>
          <FlightsMealSelection 
            :meals="meals" 
            :selectedMeals="selectedMeals"
            v-on:addMealtoFlight="addMealtoFlight"
            v-on:cancelMealOnFlight="cancelMealOnFlight"
            v-on:StopConfirmCancelMealOnFlight="StopConfirmCancelMealOnFlight"
            v-on:ConfirmCancelMealOnFlight="ConfirmCancelMealOnFlight"
            v-on:confirmMeals="confirmMeals"></FlightsMealSelection>
        </div>
      </transition>

      <div v-if="selection.length > 0 && !isFlightSelected" class="content-580 pt5 pb5">
        <div v-if="!isSubmissionDone">
          <h2 class="title-numbered">2. Your confirmed meals</h2>
          <p>You have {{selection.length}} 
            <span v-if="selection.length === 1">meal</span>
            <span v-if="selection.length > 1">meals</span> confirmed:</p>
            <ul class="pt2">
              <li v-for="item in selection">
                <span v-for="itemMeals in meals" v-if="item.mealId === itemMeals.mealId">
                  <strong>{{itemMeals.desc}}</strong> on <strong>{{item.journeyDesc}}</strong>
                </span>
              </li>
            </ul>
        </div>
          <p class="text-center pt1">
            <a href="#" v-on:click.prevent="submitMeals" class="btn border-box title-font submit" 
              v-bind:class="[
                isSubmissionLoading ? 'submit-loading' : '',
                isSubmissionDone ? 'btn-confirm' : 'btn-blue']"
              >
              <transition name="fade-message" mode="out-in">
                <span v-if="!isSubmissionDone && !isSubmissionLoading" key="button">Submit meals</span>
                <span v-if="!isSubmissionDone && isSubmissionLoading" key="button-loading" class="inner-rotating inner-symbol">
                  <svgLoading></svgLoading>
                </span>
                <span v-if="isSubmissionDone && !isSubmissionLoading" key="button-done" class="inner-symbol">
                  <svgValid></svgValid>
                </span>
              </transition>
            </a>
          </p>
          <transition name="fade-message">
            <div v-if="isSubmissionDone" class="pt2 text-center">
              <p>Your submission has been registered, Bon Appétit!</p>
              <p><router-link to="/"><u>Logout &amp; Start Over</u></a></router-link></p>
              <p class="pt2">🎋</p>
              <p class="lastcredit pt1">By the way, thank you for watching. <br>Feel free to contact me at <a href="mailto:aloha@miguel.nz"><u>aloha@miguel.nz</u></a></p>
            </div>
          </transition>
        </div>

      </div>
    </div>
  </main>
</template>
<script>
  import FlightsSelection from '@/components/FlightsSelection'
  import FlightDetails from '@/components/FlightDetails'
  import FlightsMealSelection from '@/components/FlightsMealSelection'
  import svgLoading from '@/assets/svg/md-sync.svg';
  import svgValid from '@/assets/svg/md-checkmark.svg';

  export default {
    name: 'dashboard',
    components: {
      FlightsSelection,
      FlightDetails,
      FlightsMealSelection,
      svgLoading,
      svgValid
    },
    data(){ 
      return {
        // Passenger details
        passenger: {},
        // Journeys - Step 1
        flights: {},
        // Selected Journey - Step 2
        isFlightSelected: false,
        selectedFlight: {},
        // Bid meals - Step 3
        meals: {},
        selectedMeals: 0,
        // Confirm - Step 4
        selection: [],
        isSubmissionLoading: false,
        isSubmissionDone: false
      }
    },
    methods: {
      getPassangerData(){
        const userSession = JSON.parse(localStorage.getItem('user_session'))
        const booking = JSON.parse(localStorage.getItem('booking'))
        const bookingNumber = booking.recordLocator

        booking.passengers.forEach( passenger => {
          if( passenger.firstName + ' ' + passenger.lastName === userSession.fullName && bookingNumber === userSession.bookingReferenceNumber ){
            this.passenger = passenger
          }
        })

        this.flights = booking.journeys
      },

      selectFlight( flightItem ){
        
        if(this.isSubmissionDone)
          return

        const meals = JSON.parse(localStorage.getItem('options'))

        this.isFlightSelected = true
        this.selectedFlight = flightItem

        meals.map( mealItem => {

          var mealData = this.mealHasData(flightItem, mealItem)
          if( mealData.isSelected ){
            this.selectedMeals++
          }

          mealItem.journeyKey = this.selectedFlight.key
          mealItem.isSelected = mealData.isSelected
          mealItem.biddingPrice = mealData.amount
          mealItem.confirmToDelete = false
        })

        this.meals = meals
      },

      mealHasData(flight, meal){
        var mealData = {
          isSelected: false,
          amount: 0
        }
        this.selection.length > 0 && this.selection.forEach( itemSelection => {
          if( itemSelection.mealId === meal.mealId && flight.key === itemSelection.journeyKey){
            mealData.isSelected = true
            mealData.amount = itemSelection.amount
          }
        })
        return mealData
      },
      
      cancelFlightSelection(){
        this.isFlightSelected = false
      },

      addMealtoFlight( meal ){
        if( meal.biddingPrice === 0 )
          return false

        this.selection.push({
          'mealId': meal.mealId,
          'journeyDesc': this.selectedFlight.departure + ' to ' +  this.selectedFlight.arrival,
          'journeyKey': this.selectedFlight.key,
          'amount': parseInt(meal.biddingPrice),
          'currency': meal.currency,
        });

        this.meals.forEach( item => {
          if( item.mealId === meal.mealId ){
            item.isSelected = true
            this.selectedMeals++
          }
        })
      },

      cancelMealOnFlight( meal ){
        meal.confirmToDelete = true
      },

      ConfirmCancelMealOnFlight( meal ){
        meal.isSelected = false
        meal.biddingPrice = 0
        meal.confirmToDelete = false
        this.selectedMeals--

        var tempSelection = []
        this.selection.forEach( item => {
          if( !(item.journeyKey === this.selectedFlight.key && item.mealId === meal.mealId) ){
            tempSelection.push(item)
          }
        })
        this.selection = tempSelection
      },

      StopConfirmCancelMealOnFlight( meal ){
        meal.confirmToDelete = false
      },

      confirmMeals(){
        this.selectedFlight = {}
        this.selectedMeals = 0
        this.isFlightSelected = false 
      },

      submitMeals(){
        if(this.isSubmissionDone)
          return

        this.isSubmissionLoading = true
        this.axios.post('http://caravelo.miguel.nz/site/wp-json/caravelo/v1/meals/submit', {
          selection: this.selection
        }).then((response) => {
          setTimeout(() =>{
            this.isSubmissionLoading = false
            this.isSubmissionDone = true
          },900)
        })
      }
    },
    mounted(){
      this.getPassangerData();
    }
  }
</script>
<style lang="stylus">
  #dashboard
    background #f1f1f1
    margin-top:-2rem
    padding-top:3rem
    flex 1
    & + .footer-wrapper
      background-color: #f1f1f1
    ul
      li
        margin-bottom:0
        padding-bottom:0
</style>