<template>
  <main class="content-580">
    <section class="flex-2 flex-login flex-gap-2 futurabook">
      
      <div class="item item-welcome entry-content">
        <p>Welcome to <strong>Bid 4 Meal</strong> at Caravelo Air. This new service will allow you to bid for a delicious meal package. Please add your Booking Reference Number and your Last Name to start.</p>
        <p>If you have any questions you can <a href="mailto:aloha@miguel.nz">contact us here</a>.</p>
        <p>Happy bidding!</p>
      </div>

      <div class="item item-login">
        <form v-on:submit.prevent="login()" class="content-form content-form-login">
          <div class="field">
            <input name="Booking Reference Number" v-model="bookingReferenceNumber" type="text" class="text" placeholder="Booking Reference Number">
          </div>
          <div class="field">
            <input name="Last Name" v-model="fullName" type="text" class="text" placeholder="Full Name">
          </div>
          <div class="field field-submit">
            <div class="flex-2 flex-submit">
              <div class="item item-80">
                <transition name="fade-message">
                  <span v-if="this.loginMessage" v-bind:class="loginStatus" class="login-details left inline-block">{{this.loginMessage}}</span>
                  <span v-else>&nbsp;</span>
                </transition>
              </div>
              <div class="item item-20 text-right">
                <button v-bind:class="loginStatus === 'ok' ? 'btn-rounded-green' : ''" class="submit btn-rounded" type="submit">
                  <transition name="fade-icon" mode="out-in" :duration="100"> 
                    <div v-if="isLoginLoading" key="loading" class="inner-rotating"><svgLoading></svgLoading></div>
                    <div v-if="!isLoginLoading && loginStatus !== 'ok'" key="go"><svgArrowForward></svgArrowForward></div>
                    <div v-if="!isLoginLoading && loginStatus === 'ok'" key="valid" class="inner-symbol"><svgValid></svgValid></div>
                  </transition>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </section>
  </main>
</template>
<script>
  import svgArrowForward from '@/assets/svg/md-arrow-forward.svg';
  import svgLoading from '@/assets/svg/md-sync.svg';
  import svgValid from '@/assets/svg/md-checkmark.svg';

  export default {
    name: 'login',
    components: {
      svgArrowForward,
      svgLoading,
      svgValid
    },
    data(){
      return {
        // Login Credentials
        fullName: 'Burt Reynolds',
        bookingReferenceNumber: 'TST123',
        // Login helper variables
        loginMessage: '',
        loginStatus: '',
        isLoginLoading: false,
      }
    },
    methods: {
      login(){
        let userExists = false
        
        if( this.fullName.length === 0 && this.bookingReferenceNumber.length === 0 ){
          this.loginMessage = 'Please enter your passenger details.'
          this.loginStatus = 'error'
          return false
        }

        this.loginMessage = ''
        this.loginStatus = ''
        this.isLoginLoading = true

        setTimeout(() => {

          const booking = JSON.parse(localStorage.getItem('booking'))
          const bookingNumber = booking.recordLocator

          booking.passengers.forEach( passenger => {
            if( passenger.firstName + ' ' + passenger.lastName === this.fullName && bookingNumber === this.bookingReferenceNumber )
              userExists = true
          })

          if(!userExists){
            this.loginMessage = 'Invalid Login, please try again.'
            this.loginStatus = 'error'
            this.isLoginLoading = false
            return;
          } 

          this.loginStatus = 'ok'
          this.loginMessage = 'Welcome abroad! Loading your details...'
          this.isLoginLoading = false

          setTimeout(() => {

            this.$router.push({
              name: 'dashboard'
            });

            var userSession = {
              'fullName': this.fullName,
              'bookingReferenceNumber': this.bookingReferenceNumber
            }
            localStorage.setItem('user_session', JSON.stringify(userSession));
          },900)

        },1000)

      }
    },
  }
</script>

<style lang="stylus">
  .login-details
    padding:0 0.5rem 0 1rem
    &.error
      color red
  .flex-submit.flex-2
    align-items center
    @media nondesktop
      flex-direction row
      .item-20
        width 20%
      .item-80
        width 80%
</style>