<template>
  <main id="dashboard">
    <div class="content-dashboard">
      
      <div class="welcome-message content-580">
        <p>Hello <strong>{{passenger.prefix}}. {{passenger.firstName}} {{passenger.lastName}}</strong>. Welcome to Bid 4 Meal.</p>
        <p>You have 2 upcoming flights and you can now bid for your meal.</p>
      </div>

      <transition name="fade-message" mode="out-in">

        <div v-if="!isFlightSelected" key="journeySelection">
          <FlightsSelection :flights="flights" v-on:selectFlight="selectFlight"></FlightsSelection>
        </div>

        <div v-if="isFlightSelected" key="journeyMealSelection">
          <FlightDetails :selectedFlight="selectedFlight" v-on:cancelFlightSelection="cancelFlightSelection"></FlightDetails>
          <FlightsMealSelection 
            :meals="meals" 
            v-on:addMealtoFlight="addMealtoFlight"
            v-on:cancelMealOnFlight="cancelMealOnFlight"
            v-on:StopConfirmCancelMealOnFlight="StopConfirmCancelMealOnFlight"
            v-on:ConfirmCancelMealOnFlight="ConfirmCancelMealOnFlight"></FlightsMealSelection>
        </div>
      </transition>

      <!-- <div class="content-wrapper">
        <pre>{{meals}}</pre>
      </div> -->
    </div>
  </main>
</template>
<script>
  import FlightsSelection from '@/components/FlightsSelection'
  import FlightDetails from '@/components/FlightDetails'
  import FlightsMealSelection from '@/components/FlightsMealSelection'

  export default {
    name: 'dashboard',
    components: {
      FlightsSelection,
      FlightDetails,
      FlightsMealSelection
    },
    data(){ 
      return {
        // Passenger details
        passenger: {},
        // Journeys - Step 1
        flights: {},
        // Selected Journey - Step 2
        isFlightSelected: false,
        selectedFlight: {},
        // Bid meals - Step 3
        meals: {},
        selectedMeals: 0,
        // Confirm - Step 4
        selection: []
      }
    },
    methods: {
      getPassangerData(){
        const userSession = JSON.parse(localStorage.getItem('user_session'))
        const booking = JSON.parse(localStorage.getItem('booking'))
        const bookingNumber = booking.recordLocator

        booking.passengers.forEach( passenger => {
          if( passenger.firstName + ' ' + passenger.lastName === userSession.fullName && bookingNumber === userSession.bookingReferenceNumber ){
            this.passenger = passenger
          }
        })

        this.flights = booking.journeys

      },

      selectFlight( flightItem ){
        const meals = JSON.parse(localStorage.getItem('options'))

        this.isFlightSelected = true
        this.selectedFlight = flightItem
        meals.map( mealItem => {
          var mealData = this.mealHasData(flightItem, mealItem)
          mealItem.journeyKey = this.selectedFlight.key
          mealItem.isSelected = mealData.isSelected
          mealItem.biddingPrice = mealData.amount
          mealItem.confirmToDelete = false
        })
        this.meals = meals
      },

      mealHasData(flight, meal){
        var mealData = {
          isSelected: false,
          amount: 0
        }
        this.selection.length > 0 && this.selection.forEach( itemSelection => {
          if( itemSelection.mealId === meal.mealId && flight.key === itemSelection.journeyKey){
            mealData.isSelected = true
            mealData.amount = itemSelection.amount
          }
        })
        return mealData
      },
      
      cancelFlightSelection(){
        this.isFlightSelected = false
      },

      addMealtoFlight( meal ){
        if( meal.biddingPrice === 0 )
          return false

        this.selection.push({
          'mealId': meal.mealId,
          'journeyKey': this.selectedFlight.key,
          'amount': parseInt(meal.biddingPrice),
          'currency': meal.currency,
        });

        this.meals.forEach( item => {
          if( item.mealId === meal.mealId ){
            item.isSelected = true
            this.selectedMeals++
          }
        })
      },

      cancelMealOnFlight( meal ){
        meal.confirmToDelete = true
      },

      ConfirmCancelMealOnFlight( meal ){
        meal.isSelected = false
        meal.biddingPrice = 0
        meal.confirmToDelete = false
        this.selectedMeals--

        var tempSelection = []
        this.selection.forEach( item => {
          if( item.mealId !== meal.mealId && item.journeyKey !== this.selectedFlight.key ){
            tempSelection.push(item)
          }
        })
        console.log(tempSelection)
        this.selection = tempSelection
      },

      StopConfirmCancelMealOnFlight( meal ){
        meal.confirmToDelete = false
      },

      confirmMeals(){

      }
    },
    mounted(){
      this.getPassangerData();
    }
  }
</script>
<style lang="stylus">
  #dashboard
    background #f1f1f1
    margin-top:-2rem
    padding-top:3rem
    flex 1
    & + .footer-wrapper
      background-color: #f1f1f1
</style>