<template>
  <div class="bgwhite flights-meal-selection pt2 mt2">
    <div class="content-wrapper">

      <div class="meal-selection">
        <h2 class="title-numbered">2. Your meals</h2>
        <p>Please select your flight to continue:</p>
      </div>

      <section class="meal-list pt3" v-bind:class="selectedMeals > 0 ? 'pb6' : 'pb1'">
        
        <div v-for="item in meals" class="meal-item pb4">
          <h3 class="title-font"> {{item.desc | getMealTitle }} <span class="title-meta lightgray">(Code: {{item.mealId}})</span></h3>
          <h4 class="meal-description">{{item.desc | getMealDescription }}</h4>
          <div class="flex-2 flex-gap-2 pt1">
            <div class="item item-image">
              <img v-bind:src="require('@/assets/images/'+item.mealId+'.jpg')" alt="" v-bind:title="item.desc" v-bind:alt="item.desc">
            </div>
            <div class="item item-bidding text-center">
              <div class="flex-2">
                <div class="item item-range" v-bind:class="item.isSelected ? 'disabled' : ''">
                  <p class="min">€{{ item.priceRange.min }}</p>
                  <input class="range" type="range" 
                    v-bind:min="item.priceRange.min" 
                    v-bind:max="item.priceRange.max" 
                    v-bind:step="item.priceRange.jump"
                    v-model="item.biddingPrice" v-bind:disabled="item.isSelected">
                  <p class="max">€{{ item.priceRange.max }}</p>
                </div>
                <div class="item item-confirm">
                  <div class="item item-submit text-center">
                    <div class="flex-price-wrapper">
                      <div class="item item-bidding-price">
                        <p class="bidding-price">€{{item.biddingPrice}}</p> 
                      </div>
                      <div class="item" v-bind:class="parseInt(item.biddingPrice) === 0 ? 'disabled' : ''">
                        <a href="#" class="item btn btn-confirm border-box" 
                          v-on:click.prevent="$emit('addMealtoFlight',item)" 
                          v-bind:class="item.isSelected ? 'selected' : ''">
                          <transition name="fade-message" mode="out-in">
                            <span class="inline-block" v-if="!item.isSelected" key="confirm">Confirm</span>
                            <span class="inline-block inner-symbol" v-if="item.isSelected" key="added"><svgValid></svgValid></span>
                          </transition>
                        </a>
                      </div>
                    </div>
                    <transition name="fade-message" mode="out-in">
                      <p v-if="!item.confirmToDelete && parseInt(item.biddingPrice) > 0 && item.isSelected === true" key="deleteBid" class="pt1 lh160">
                        <a v-on:click.prevent="$emit('cancelMealOnFlight',item)" class="op05" href="#">I want to cancel this meal</a>
                      </p>
                      <p v-if="item.confirmToDelete && parseInt(item.biddingPrice) > 0 && item.isSelected === true" key="confirmDelete" class="pt1 op05">
                          Are you Sure?
                          <a class="emoji" v-on:click.prevent="$emit('ConfirmCancelMealOnFlight',item)" href="#">👍</a>
                          or <a v-on:click.prevent="$emit('StopConfirmCancelMealOnFlight',item)" href="#">👎</a>
                      </p>
                    </transition>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
    </div>

    <transition name="fade-confirm-message" mode="out-in" :duration="600">
      <section v-if="selectedMeals > 0" class="confirm-preferences">
        <div class="meal-selection flex-2">
          <div class="item">
            <h2 class="title-font">Confirm your preferences</h2>
            <p>Once you have selected all your meals want to bid, please confirm your preferences for this flight.</p>
          </div>
          <p class="item text-center">
            <a href="#" v-on:click.prevent="$emit('confirmMeals')" class="btn btn btn-blue title-font">Confirm preferences</a>
          </p>
        </div>
      </section>
    </transition>

  </div>
</template>
<script>
  import svgValid from '@/assets/svg/md-checkmark.svg';
  export default {
    components: {
      svgValid
    },
    name: 'FlightsMealSelection',
    props: ['meals','selectedMeals'],
    filters: {
      getMealTitle(value){
        return value.split(':')[0]
      },
      getMealDescription(value){
        return value.split(':')[1]
      }
    }
  }
</script>
<style lang="stylus">
  .meal-item 
    .flex-2
      .item-image
        user-select none
        img
          display: block
          max-width 100%
    .flex-2
      & > .item-range
        margin-top:0.6rem
        padding:0 1rem
        display flex
        flex-direction row
        &.disabled
          opacity 0.5
        .range
          // max-width 210px
          padding 0 1rem
          margin-top:5px
        .min, .max
          font-family 'futura-bold'
      & > .item-confirm
        width 40%
  .confirm-preferences
    position: fixed
    z-index:100
    bottom 0.5rem
    left 1rem
    right 1rem
    background white
    border 2px solid
    padding 1rem 3rem
    .meal-selection
      align-items center
    .flex-2
      & > .item:first-child
        width 60%
      & > .item:last-child
        width 40%
  @media desktop
    .meal-item .flex-2
      .item-bidding
        width:80%
      .item-image
        width 20%
  @media nondesktop
    .item-bidding
      .flex-2 .item
          width 100%
    .flex-price-wrapper
      margin-top:1rem
    .confirm-preferences
      padding 1rem
      .meal-selection.flex-2 
        flex-direction row
        text-align: center
        .item
          width 100%
        .item:first-child
          padding-bottom: 1rem
      
  @media mobile
    .item-image
      padding-bottom:1rem
</style>
