<template>
  <div class="flights-selection pt4 content-580">
    <h2 class="title-numbered">1. Your upcoming flights</h2>
    <!-- <pre>{{journeys}}</pre> -->
    <p>Please select your flight to continue:</p>
    <div class="flex-2 flex-flights-selection flex-gap-4 pt3">
      <a v-for="item in flights" href="#" v-on:click.prevent="$emit('selectFlight',item)" class="item border-box text-center">
        <p>{{item.departureDate | getDate }}</p>
        <div class="btn btn-flight btn-full mt05">
          <span class="location from">{{item.departure}}</span>
          <span class="direction direction-right"><svgArrowForward></svgArrowForward></span>
          <span class="location to">{{item.arrival}}</span>
        </div>
        <p class="none pt05">Flight {{item.flight}}</p>
        <p class="pt1">Departure: {{ item.departureDate | getTime }} • Arrival: {{ item.arrivalDate | getTime }}</p>
      </a>
    </div>
  </div>
</template>
<script>
  import svgArrowForward from '@/assets/svg/md-arrow-forward.svg';
  export default {
    name: 'FlightsSelection',
    components: {
      svgArrowForward,
    },
    props: ['flights']
  }
</script>
<style lang="stylus">
  .flex-flights-selection.flex-2
    @media nondesktop
      flex-direction row
      .item
        width 100%
        margin-bottom:2.5rem
        padding-bottom:2.5rem
  .flex-flights-selection .item
    @media desktop
      transition transform ease 100ms
      &:hover 
        transform translateY(-5px)
        padding-bottom:5px
        margin-bottom:-5px
        .btn-flight
          background $textcolor
          color white
          .direction-right svg
            fill white   
    @media nondesktop
      position relative
      width 100%
      &:after
        content ''
        position absolute
        width 80%
        left 50%
        margin-left: 10%
        height 2px
        left 0
        bottom 0
        background-color #999
      &:last-child:after
        display:none
  .flights-selection
    @media all and (max-width:780px)
      .flex-2 .item
        width 100%
      .btn-flight.btn-full
        width auto
</style>