<template>
  <div class="content-wrapper">
    <h2 class="title-font">Your flight details</h2>
    <div class="flex-2 flex-flight-details flex-gap-4 pt2">
      <div class="item border-box item-40">
        <div class="btn btn-flight btn-full mt05">
          <span class="location from">{{selectedFlight.departure}}</span>
          <span class="direction direction-right"><svgArrowForward></svgArrowForward></span>
          <span class="location to">{{selectedFlight.arrival}}</span>
        </div>
      </div>

      <div class="item item-flight-details">
        <p><label for="departureDate">Date of Departure</label> {{selectedFlight.departureDate | getDate }} at {{selectedFlight.departureDate | getTime }}</p>
        <p><label for="flightNumber">Flight Number</label> {{selectedFlight.flight}}</p>
        <p><label for="arrivalDate">Date of Arrival</label> {{selectedFlight.arrivalDate | getDate }}</p>        
        <p class="lightgray mt1"><a href="#" v-on:click.prevent="$emit('cancelFlightSelection')"><u>Select another Journery</u></a></p>
      </div>
      
    </div>
  </div>
</template>
<script>
  import svgArrowForward from '@/assets/svg/md-arrow-forward.svg';
  export default {
    name: 'FlightDetails',
    components: {
      svgArrowForward,
    },
    props: ['selectedFlight']
  }
</script>
<style lang="stylus">
  .item-flight-details
    label
      font-family 'futura-bold'
      display: inline-block
      float left
      width 180px
  .item-40
    width 41%
  @media nondesktop
    .flex-flight-details.flex-2
      flex-direction row
      .item
        width 100%
      .item:first-child
        padding-bottom: 2rem
</style>