<template>
  <div class="footer-wrapper pt5">
    <div class="content-wrapper text-center">
      <p><a href="#">Privacy Policy</a> • <a href="#">Terms and Conditions</a></p>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'FooterApp'
  }
</script>