<template>
  <header class="header-wrapper pt5 pb5">
    <router-link to="/"><img class="logo" src="~@/assets/images/caraveloair-logo.png"></router-link>
  </header>
</template>
<script>
  export default {
    name: 'HeaderApp'
  }
</script>