.btn
  font-family 'futura-bold'  
  border-radius 50px
  display: inline-block
  padding 0.5rem 3rem 
  user-select none
  letter-spacing 1px
  font-size 1rem
  &.btn-blue
    border 2px solid $textcolor
    background $textcolor
    color white
    svg
      fill white
    

.btn-flight
  border 2px solid
  white-space nowrap
  transition 200ms background ease, 200ms color ease
  max-width 350px
  svg
    transition 200ms fill ease
    width 1rem
  .direction
    position relative
    padding 0 1rem
    top:2px
  &.btn-full
    text-align: center
    width 100%
  &:hover
    background $textcolor
    color white
    .direction-right svg
      fill white 
    
    
.btn-rounded
  $size = 52px
  transition 200ms background
  position relative
  background $textcolor
  color white
  width $size
  height $size
  border-radius 100%
  line-height:0
  &:active
    top 2px
  &:hover
    background lighten($textcolor,10%)
  &:focus,
  &:active
    top 1px
    background lighten($textcolor,20%)
  &.btn-rounded-green
    background-color lightgreen
    &:hover
      background-color lightgreen

.inner-symbol
  svg 
    position: relative
    width: 2rem
    top: -0.35rem
    margin-bottom: -1rem 

.btn-confirm
  transition background ease 200ms, padding ease 200ms
  border 2px solid lightgreen
  position relative
  background lightgreen
  color white
  text-transform: uppercase
  &:hover
    background darken(lightgreen, 15%)
  &:active
    top 2px
  &.selected
    background #1293C6
    border-color #1293C6
  svg
    fill: #fff
    
.inner-rotating
  display: inline-block
  animation loadingRotate 500ms infinite linear;

@keyframes loadingRotate
  0%
    transform rotate(0)
  100%
    transform rotate(180deg)


.flex-price-wrapper
  justify-content center
  .disabled
    .btn-confirm
      opacity 0.5
  .btn-confirm
    border-radius 0 50px 50px 0
    width 180px
    &.selected
      padding 0.5rem 1rem  
    @media desktop
      &.selected
        width 80px
  .item-bidding-price
    border-radius 50px 0 0 50px
    width 20%
    text-align: center
    background #f1f1f1
    padding 0.5rem 0