// Add your fonts here
$font-path = '~@/assets/fonts/'

@font-face 
  font-family 'futura-bold'
  src url($font-path + 'futura_md_bt_bold-webfont.woff') format('woff'),
    url($font-path + 'futura_md_bt_bold-webfont.woff2') format('woff2');
  font-weight bold

@font-face 
  font-family 'futura-book'
  src url($font-path + 'futura-bk-bt-book-webfont.woff') format('woff'),
    url($font-path + 'futura-bk-bt-book-webfont.woff2') format('woff2');
  font-weight normal

// @font-face
//   font-family: 'FontAwesome'
//   src: url('fonts/fontawesome-webfont.eot')
//   src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
//     url('fonts/fontawesome-webfont.woff2') format('woff2'),
//     url('fonts/fontawesome-webfont.woff') format('woff'),
//     url('fonts/fontawesome-webfont.ttf') format('truetype'),
//     url('fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg')
//   font-weight: normal
//   font-style: normal

.futurabold
  font-family 'futura-bold'
.futurabook
  font-family 'futura-book'