.content-form
  .field, .field-submit
    margin-bottom:1rem
  .text
    width 100%
    padding 0.5rem
  .submit
    font-size inherit
  .text, .submit
    font-size 1rem
    &:focus 
      outline 0

.content-form
  .text
    transition transform ease 200ms, background ease 200ms
    transform translateZ(0)
    font-family $bodyfont
    font-size 1rem
    border-radius 50px
    border 2px solid
    background transparent
    padding 0.7rem 1rem
    font-size inherit
    +placeholder()
      color $textcolor
      opacity 1
      text-transform:uppercase
      font-size 90%
    &:focus
      background rgba(white,0.4)
      transform translateZ(0) translateY(1px)
      
      

.content-form-login
  .submit svg
    $size = 32px
    fill white
    width $size
    height $size
  .submit-symbol
    display: inline-block

input[type="range"]
  
  &:disabled
    opacity 0.5
  
  input_range_thumb()
    $size = 19px
    width $size
    height $size
    background-color: #1293C6
    border-radius 100%
    
  input_range_slider()
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: black;
  
  &::-webkit-slider-runnable-track
    input_range_slider()
  &::-moz-range-track
    input_range_slider()
  
  &::-webkit-slider-thumb
    input_range_thumb()
    -webkit-appearance: none;
    margin-top: -7px
  &::-moz-range-thumb
    input_range_thumb()
  &::-ms-thumb
    input_range_thumb()