// Our boilerplate 
@require 'stylus/base/default'

// Variables, colors, functions, etc
@require 'stylus/global'
// @require 'stylus/base/print.css'
@require 'stylus/base/reset'

html, body
  margin:0
  padding:0
  min-height:100%
  width:100%

body
  font-family: $bodyfont
  background-color #f1f1f1
  color: $textcolor
  font-size: 16px
  font-smooth: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: greyscale
  line-height textlh
  @media mobile
    min-width:rem(420px)
  
// Colours
white = #fff
black = #333
red =  darken(#FF0000,30%)
blue = darken(#3A779C,20%)
lightgreen = #3AEC66
lightgray = #999
colors = {
  white: white,
  black: black,
  red: red,
  blue: blue,
  lightgreen: lightgreen,
  lightgray: lightgray
}

for key,value in colors
  .bg{key}
    background-color value
  .{key}
    color value

for i in 1 .. 10
  .p{i}
    padding unit(i,'rem')
  .m{i}
    margin unit(i,'rem')
  .mt{i}
    margin-top unit(i,'rem')
  .mb{i}
    margin-bottom unit(i,'rem')
  .pt{i}
    padding-top unit(i,'rem')
  .pb{i}
    padding-bottom unit(i,'rem')

.pt05
  padding-top: 0.5rem
.mt05
  margin-top: 0.5rem

// Content
.content-wrapper
  div-wrapper(960px)
.content-580
  div-wrapper(800px)
  margin-left:auto
  margin-right:auto

.title-numbered
  text-transform: uppercase
  font-family 'futura-bold'
  font-size:1.2rem
  margin-left:-1.7rem
  @media nondesktop
    margin-left:0

.title-font
  text-transform: uppercase
  font-family 'futura-bold'
  font-size:1.2rem

.title-meta
  font-family 'futura-book'
  opacity 0.5
  font-size 1rem
  display: inline-block
  text-transform: none

a.op05
  opacity 0.5
  transition ease opacity 300ms
  &:hover
    opacity 1

.lh160
  line-height:135%
.emoji
  font-family: sans-serif;

// Components - Default
@require 'stylus/components/grid'

// Partials
@require 'stylus/components/btn'
@require 'stylus/components/entry-content'
@require 'stylus/components/fonts'
@require 'stylus/components/header'
@require 'stylus/components/footer'
@require 'stylus/components/index'
@require 'stylus/components/forms'

// Components - Externals
// @require 'bower_components/font-awesome-stylus/index'


.fade-message-enter-active,
.fade-message-leave-active
  transition: opacity 100ms, transform ease 100ms;
  transform translateY(0)  
  .lastcredit
    transition opacity ease 300ms
    transition-delay 300ms
.fade-message-enter, 
.fade-message-leave-to
  opacity: 0;
  transform translateY(0.5rem)
  .lastcredit
    opacity 0
  
.fade-confirm-message-enter-active,
.fade-confirm-message-leave-active
  transition: opacity 200ms 300ms, transform ease 200ms 300ms;
  transform scale(1) translateY(0)  
.fade-confirm-message-enter, 
.fade-confirm-message-leave-to
  opacity: 0;
  transform scale(0.95) translateY(0.5rem)


.fade-icon-enter-active,
.fade-icon-leave-active
  transition: opacity 100ms, transform ease 200ms
  position relative
.fade-icon-enter, 
.fade-icon-leave-to
  opacity: 0;
  transform scale(0.5)


.fade-enter-active, 
.fade-leave-active
  transition: opacity ease 600ms
  .flex-login, .content-dashboard
    transition transform ease 400ms, opacity ease 200ms
.fade-enter, .fade-leave-to
  opacity: 0;
  .flex-login, .content-dashboard
    transform translateY(-1rem)
    opacity 0